services:
  mysql:
    image: mysql:8.0
    container_name: bookmagasin_mysql
    environment:
      MYSQL_DATABASE: bookmagasin
      MYSQL_ROOT_PASSWORD: 1234
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p1234"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  app:
    build: .
    container_name: bookmagasin_app
    depends_on:
      mysql:
        condition: service_healthy
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SERVER_PORT: 8080
      SERVER_FORWARD_HEADERS_STRATEGY: NATIVE
    expose:
      - "8080"
    restart: unless-stopped


  nginx:
    image: nginx:alpine
    container_name: bookmagasin_nginx
    ports:
      - "8088:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    restart: unless-stopped


volumes:
  mysql_data:
