/* Toàn màn hình căn giữa */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-family: Arial, sans-serif;
  background: #b18cff;
  background: linear-gradient(
    90deg,
    rgba(177, 140, 255, 1) 0%,
    rgba(86, 164, 247, 1) 50%,
    rgba(27, 95, 247, 1) 100%
  );
}

/* Khung login */
.login-box {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

/* Tiêu đề */
.login-box h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #1f2937;
}

/* Input chung */
.login-box input {
  width: 100%;
  padding: 10px 12px;
  margin-top: 8px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

.login-box input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
}

.login-box input:hover {
  border-color: #93c5fd;
}

/* Label */
.login-box label {
  font-size: 14px;
  font-weight: 500;
  color: #374151;
}

/* Button */
.login-box button {
  width: 100%;
  margin-top: 1rem;
  padding: 10px;
  background: linear-gradient(135deg, #3b82f6, #2563eb);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background: linear-gradient(135deg, #2563eb, #1d4ed8);
  transform: scale(1.03);
}

/* Link đăng ký */
.login-box p {
  text-align: center;
  margin-top: 1rem;
  font-size: 14px;
  color: #6b7280;
}

.login-box p a {
  color: #3b82f6;
  text-decoration: none;
}

.login-box p a:hover {
  text-decoration: underline;
}

/* .login-container {
  background: url("https://i.pinimg.com/1200x/99/ca/fa/99cafa3761f98027138c12ffc49b18f9.jpg")
    no-repeat center center;
  background-size: cover;
} */
